@import "@styles/variables";
@import "@styles/mixins";

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 0 0;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding: 16px;

    .logo {
      text-transform: uppercase;
      cursor: pointer;
      transition: filter 0.4s ease-out;

      &:hover {
        filter: drop-shadow(0 0 30px rgba($light-red, 0.5));
      }

      img {
        width: 100%;
        max-width: 200px;
      }
    }

    .description {
      font-family: $font-family-sans;
      color: $color-off-white;
      line-height: 1.6;
    }

    @include mobile {
      .logo {
        text-transform: uppercase;
        cursor: pointer;
        transition: filter 0.4s ease-out;

        &:hover {
          filter: drop-shadow(0 0 30px rgba($light-red, 0.5));
        }

        img {
          width: 100%;
          max-width: 150px;
        }
      }
    }
  }
}
