@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}