@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: $font-family-sans;
    background-color: $color-off-white;
    color: $color-black;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-serif;
    font-weight: normal;
    letter-spacing: -0.02em;
}

a {
    text-decoration: none;
    color: inherit;
    transition: $transition-smooth;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
}