@import '@styles/variables';
@import '@styles/mixins';

.main {
    width: 100vw;
    height: 100vh;
    @include flex-center;
    background-color: $color-off-white;
}

.logoLink {
    // No defaults needed
}

.logo {
    font-family: $font-family-serif;
    font-size: 4rem;
    letter-spacing: 0.2em;
    color: $color-black;
    text-transform: uppercase;
    cursor: pointer;
}