@import "@styles/variables";
@import "@styles/mixins";

.main {
  width: 100vw;
  height: 100vh;
  @include flex-center;

  .logo {
    text-transform: uppercase;
    cursor: pointer;
    transition: filter 0.4s ease-out;

    &:hover {
      filter: drop-shadow(0 0 30px rgba($light-red, 0.5));
    }

    img {
      width: 200px;
    }
  }
}
