@import '@styles/variables';
@import '@styles/mixins';

.gallery {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.imageWrapper {
    width: 100%;
    aspect-ratio: 3 / 4;
    background-color: $color-gray-soft;
    overflow: hidden;
    position: relative;
}

.image {
    object-fit: cover;
}